{% extends "base.html" %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero et cumque temporibus culpa distinctio
            expedita
            fuga,
            totam magni sed deleniti maxime animi, eaque corrupti natus incidunt perspiciatis illo rem quam repudiandae
            aliquid
            tenetur cupiditate non in earum. Dolor quibusdam eaque possimus laudantium at itaque deserunt quisquam enim
            amet
            facilis rem excepturi, facere repellat quod voluptate a pariatur? Itaque dolor debitis aperiam in saepe
            facilis,
            deleniti aliquid dignissimos ipsam quibusdam corporis suscipit dolores accusantium, ab mollitia nesciunt
            dolore
            eius
            consectetur explicabo natus sequi pariatur. Nostrum incidunt sapiente, animi ipsum inventore dolorum alias
            eos
            sint
            aspernatur aliquid modi assumenda quo iure temporibus.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}